.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc~
.cache
.config
.git
.gitconfig
.gtkrc-2.0
.lesshst
.local
.mozilla
.pki
.pulse-cookie
.ssh
.steam
.steampath
.steampid
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
VirtualBox VMs
